.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.buttons {
  display: flex;
}

.buttons button {
  flex: 1;
  font-size: 16px;
  cursor: pointer;
}

.book {
  margin: 0 auto;
  margin-top: 50px;
}

.packt-logo {
  width: 63px;
  margin-right: 20px;
  height: 25px;
}

.about {
  padding: 10px;
}

.light-gray {
  color: #a8a8a8;
}

nav a {
  color: white;
  margin-right: 18px;
}

.padding-tb-30 {
  padding-top: 10px;
  padding-bottom: 30px;
}

.chapter,
.chapter-in-details {
  background: white;
  border-radius: 6px;
  margin-bottom: 25px;
  display: flex;
  padding: 20px;
  align-items: center;
  box-shadow: 0 10px 20px 0 rgba(116, 103, 91, 0.059);
  transition: all 0.5s ease;
  cursor: pointer;
}

.book-cover {
  order: -1;
  text-align: center;
  perspective: 100px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: url(/assets/tap.png), auto;
}

.packt-publishing img {
  display: none;
}

.book-cover img {
  transition: transform 0.5s;
}



.chapter:hover {
  box-shadow: 0 10px 25px 0 rgba(116, 103, 91, 0.3);
  background: #e7692c;
  color: white;

  svg {
    stroke: #fff;
  }

  .number {
    color: #fff;
  }
}

.number {
  margin-right: 20px;
}

.title {
  font-size: 14px;
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.round-img {
  border-radius: 50%;
  text-align: center;
}

.round-img img {
  border-radius: 290486px;
  width: 70%;
  margin: 30px;
}
.left {
  float: left;
}
.right {
  float: right;
}

nav .right {
  display: none;
  position: relative;
  top: 7px;
}

.justify-content-center {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.justify-content-center img {
  margin-right: 30px;
  margin-top: 20px;
}

.white-bg {
  background: white;
}

.benefits .orange div {
  display: inline-block;
  position: relative;
  top: -10px;
  margin-left: 10px;
}
.orange {
  color: #e7692c;
}
.red {
  color: #c30f2f;
}
.landing-title.is-size-1 {
  margin-top: 0;
}

.landing-title:after {
  top: 0;
  left: 0;
  position: relative;
  width: 35px;
  height: 2px;
  display: inherit;
  background-color: #e7692c;
  content: "";
  left: 50%;
  margin-top: 17px;
  transform: translateX(-50%);
}

.content .landing-title:after {
  background-color: #000;
}

.orange-bg {
  background: #e7692c;
  color: white;
  margin-top: 0;
}

.orange-bg a {
  color: white;
}

.small-img img {
  width: 40px;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  top: 10px;
}

.logo-title {
  position: relative;
  top: -3px;
  margin: 0;
  width: 100%;
}

nav .left {
  display: flex;
}

section {
  padding-bottom: 50px;
  margin-top: 50px;
  padding-top: 1px;
}

.italic {
  font-style: italic;
}

blockquote {
  padding-top: 20px;
}

blockquote:before {
  color: #ccc;
  content: "“";
  font-size: 5em;
  line-height: 0em;
  margin-right: 0.1em;
  vertical-align: -0.4em;
}

.quote {
  background: white;
  border-radius: 6px;
  box-shadow: 0 30px 20px 0 rgba(116, 103, 91, 0.059);
  padding-bottom: 20px;
  border: 1px solid transparent;
}

.quote:hover {
  background: #e7692c;
  color: white;
}

.details {
  display: none;
  position: fixed;
  overflow: hidden;
  background: #e7692c;
  color: white;
  z-index: 1;
}

.details .chapter-in-details {
  width: 100%;
  box-shadow: none;
  color: #000;
  border-radius: 0;
  border-bottom: 2px solid #000;
  margin-bottom: 0;
}

.chapter-in-details .title {
  margin-right: 30px;
}

.details.animated .content {
  overflow: auto;
  height: calc(100vh - 80px);
}

.details.animated .title {
  transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  font-size: 18px;
}

.details.animated .number {
  transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  font-size: 32px;
}

.close-btn {
  background: transparent;
  outline: none;
  position: absolute;
  right: 0;
  display: none;
}

.animated .close-btn {
  display: block;
}

.details.animating {
  display: block;
}

/* Basic styling */
.ng-proj-title {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 75px;
  width: 305px;
}

.filled-heading {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "CiscoSansTT Light", "Helvetica Neue", Arial, Helvetica, Verdana;
  font-size: 1.9em;
  line-height: 0.5;
  text-align: center;
}

/* Animate the background shapes */
#background path {
  transform-origin: 50% 50%;
  transform-box: fill-box;
}
#background path:nth-of-type(2n) {
  animation: rotate 5s linear infinite;
}
#background path:nth-of-type(2n + 1) {
  animation: rotate 3s linear reverse infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.topics img {
  height: 45px;
}

.topic {
  flex: 100px;
  text-align: center;
}

.benefits,
.topics {
  text-align: center;
  margin-top: 0;
}

[data-tooltip]:before {
  bottom: 100%;
  left: 50%;
  margin-bottom: 5px;
  transform: translate(-50%, 10px);
  transform-origin: top;
}

[data-tooltip]:after {
  opacity: 0;
  pointer-events: none;
  background: #e7692c;
  border-radius: 4px;
  color: #fff;
  content: attr(data-tooltip);
  padding: 0.5em 1em;
  position: absolute;
  z-index: 10;
  bottom: 100%;
  left: 50%;
  margin-bottom: 11px;
  transform-origin: top;
  white-space: normal;
  width: 300px;
  line-height: 20px;
  font-size: 14px!important;
  display: none;
}

[data-tooltip]:hover:after {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, 0);
}

.author {
  padding-bottom: 0;

  .round-img {
    position: relative;
    top: -20px;
  }
}

.recommendations,
.chapters {
  margin-top: 0;
  padding-bottom: 0;
}

.companies {
  margin-top: 0;
}

@media (min-width: 500px) {
  .packt-publishing div {
    display: inline;
  }
  .packt-publishing img {
    display: inline;
  }
  .chapter {
    width: 90%;
  }
  .book-cover {
    order: 0;
    // transform: scale(1.2);
  }
  .right .chapter {
    float: right;
  }

  nav .right {
    display: block;
  }

  .book-cover img {
    // width: 100%;
    // position: relative;
    // top: 70px;
  }

  .ng-proj-title {
    height: 75px;
    width: 459px;
  }
  .filled-heading {
    font-size: 2.8em;
    line-height: 0.5;
  }

  [data-tooltip]:after {
    display: block;
  }
}

.quote .round-img {
  margin-bottom: 10px;
}

.tool-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
}

ol {
  line-height: 24px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.ipad {
  width: 100%;
}



.bk-list {
	list-style: none;
	position: relative;
}

.bk-list li {
	position: relative;
	width: 300px;
	float: left;
	z-index: 1;
	margin: 0px 50px 40px 0;
	-webkit-perspective: 1800px;
	perspective: 1800px;
}

.bk-list li:last-child {
	margin-right: 0;
}

.bk-info {
	position: relative;
	margin-top: 440px;
}

.bk-info h3 {
	padding: 25px 0 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid rgba(0,0,0,0.3);
	font-size: 26px;
}

.bk-info h3 span:first-child {
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	padding-bottom: 5px;
	display: block;
	color: #777;
}

.bk-info p {
	line-height: 24px;
	color: #444;
	min-height: 160px;
}

.bk-info button {
	background: #FC756F;
	border: none;
	color: #fff;
	display: inline-block;
	padding: 3px 15px;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	cursor: pointer;
	margin-right: 4px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
}

.bk-info button.bk-active,
.bk-info button:active {
	box-shadow:
		0 1px 0 rgba(255, 255, 255, 0.8),
		inset 0 -1px 1px rgba(0,0,0,0.2);
}

.no-touch .bk-info button:hover,
.bk-info button.bk-active {
	background: #d0544e;
}

.bk-list li .bk-book {
	position: absolute;
	width: 100%;
	height: 200px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: -webkit-transform .5s;
	transition: transform .5s;
}

.bk-list li .bk-book.bk-bookdefault:hover {
	-webkit-transform: rotate3d(0,1,0,35deg);
	transform: rotate3d(0,1,0,35deg);
}

.bk-list li .bk-book > div,
.bk-list li .bk-front > div {
	display: block;
	position: absolute;
}

.bk-list li .bk-front {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transition: -webkit-transform .5s;
	transition: transform .5s;
	-webkit-transform: translate3d(0,0,20px);
	transform: translate3d(0,0,20px);
	z-index: 10;
}

.bk-list li .bk-front > div {
	z-index: 1;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.bk-list li .bk-page {
	-webkit-transform: translate3d(0,0,19px);
	transform: translate3d(0,0,19px);
	display: none;
	width: 295px;
	height: 390px;
	top: 5px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 9;
}

.bk-list li .bk-front,
.bk-list li .bk-back,
.bk-list li .bk-front > div {
	width: 300px;
	height: 370px;
}

.bk-list li .bk-left,
.bk-list li .bk-right {
	width: 40px;
	left: -20px;
}

.bk-list li .bk-top,
.bk-list li .bk-bottom {
	width: 295px;
	height: 40px;
	top: -15px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.bk-list li .bk-back {
	-webkit-transform: rotate3d(0,1,0,-180deg) translate3d(0,0,20px);
	transform: rotate3d(0,1,0,-180deg) translate3d(0,0,20px);
	box-shadow: 10px 10px 30px rgba(0,0,0,0.3);
	border-radius: 3px 0 0 3px;
}

.bk-list li .bk-cover-back {
	background-color: #000;
	-webkit-transform: rotate3d(0,1,0,-179deg);
	transform: rotate3d(0,1,0,-179deg);
}

.bk-list li .bk-right {
	height: 390px;
	top: 5px;
	-webkit-transform: rotate3d(0,1,0,90deg) translate3d(0,0,295px);
	-moz-transform: rotate3d(0,1,0,90deg) translate3d(0,0,295px);
	transform: rotate3d(0,1,0,90deg) translate3d(0,0,295px);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.bk-list li .bk-left {
	height: 370px;
	-webkit-transform: rotate3d(0,1,0,-90deg);
	transform: rotate3d(0,1,0,-90deg);
}

.bk-list li .bk-top {
	-webkit-transform: rotate3d(1,0,0,90deg);
	transform: rotate3d(1,0,0,90deg);
}

.bk-list li .bk-bottom {
	-webkit-transform: rotate3d(1,0,0,-90deg) translate3d(0,0,390px);
	transform: rotate3d(1,0,0,-90deg) translate3d(0,0,390px);
}

/* Transform classes */

.bk-list li .bk-viewinside .bk-front {
	-webkit-transform: translate3d(0,0,20px) rotate3d(0,1,0,-160deg);
	transform: translate3d(0,0,20px) rotate3d(0,1,0,-160deg);
}

.bk-list li .bk-book.bk-viewinside {
	-webkit-transform: translate3d(0,0,150px) rotate3d(0,1,0,0deg);
	transform: translate3d(0,0,150px) rotate3d(0,1,0,0deg);
}

.bk-list li .bk-book.bk-viewback {
	-webkit-transform: translate3d(0,0,0px) rotate3d(0,1,0,180deg);
	transform: translate3d(0,0,0px) rotate3d(0,1,0,180deg);
}

/* Main colors and content */

.bk-list li .bk-page,
.bk-list li .bk-right,
.bk-list li .bk-top,
.bk-list li .bk-bottom {
	background-color: #fff;
}

.bk-list li .bk-front > div {
	border-radius: 0 3px 3px 0;
	box-shadow:
		inset 4px 0 10px rgba(0, 0, 0, 0.1);
}

.bk-list li .bk-front:after {
	content: '';
	position: absolute;
	top: 1px;
	bottom: 1px;
	left: -1px;
	width: 1px;
}

.bk-list li .bk-cover:after,
.bk-list li .bk-back:after {
	content: '';
	position: absolute;
	top: 0;
	left: 10px;
	bottom: 0;
	width: 3px;
	background: rgba(0,0,0,0.06);
	box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}

.bk-list li .bk-back:after {
	left: auto;
	right: 10px;
}

.bk-left h2 {
	width: 370px;
	height: 40px;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotate(90deg) translateY(-40px);
	transform: rotate(90deg) translateY(-40px);
}

.bk-content {
	position: absolute;
	top: 30px;
	left: 20px;
	bottom: 20px;
	right: 20px;
	padding: 30px;
	overflow: hidden;
	background: #fff;
	opacity: 0;
	pointer-events: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
	cursor: default;
}

.bk-content-current {
	opacity: 1;
	pointer-events: auto;
}

.bk-content p {
	padding: 0 0 10px;
	-webkit-font-smoothing: antialiased;
	color: #000;
	font-size: 13px;
	line-height: 20px;
	text-align: justify;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.bk-page nav {
	display: block;
	text-align: center;
	margin-top: 20px;
	position: relative;
	z-index: 100;
	cursor: pointer;
}

.bk-page nav span {
	display: inline-block;
	width: 20px;
	height: 20px;
	color: #aaa;
	background: #f0f0f0;
	border-radius: 50%;
}

/* Individual style & artwork */

/* Book 1 */
.book-1 .bk-front > div,
.book-1 .bk-back,
.book-1 .bk-left,
.book-1 .bk-front:after {
	background-color: #2d3039;
  cursor: pointer;
}

.book-1 .bk-cover {
	background-image: url(http://3.bp.blogspot.com/-zTDM2fcUxfA/UmvkjFkS_OI/AAAAAAAABwg/lzPaVpz3LvY/s1600/8207OT_Cover_PreFinal.jpg);
  background-size: 632px;
	background-repeat: no-repeat;
      background-position: -332px 2px;
}

.book-1 .bk-cover h2 {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 30px;
	background: rgba(255,255,255,0.2);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
}

.book-1 .bk-cover h2 span:first-child,
.book-1 .bk-left h2 span:first-child {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 13px;
	padding-right: 70px;
}

.book-1 .bk-cover h2 span:first-child {
	display: block;
}

.book-1 .bk-cover h2 span:last-child,
.book-1 .bk-left h2 span:last-child {
	font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}

.book-1 .bk-content p {
	font-family: Georgia, Times, "Times New Roman", serif;
}

.book-1 .bk-left {
  background-image: url(http://3.bp.blogspot.com/-zTDM2fcUxfA/UmvkjFkS_OI/AAAAAAAABwg/lzPaVpz3LvY/s1600/8207OT_Cover_PreFinal.jpg);
  background-size: 632px;
  background-position: 335px 2px;
}
.book-1 .bk-left h2 {
	color: #fff;
	font-size: 15px;
	line-height: 40px;
	padding-right: 0px;
	text-align: right;
}

.book-1 .bk-back {
  background-image: url(http://3.bp.blogspot.com/-zTDM2fcUxfA/UmvkjFkS_OI/AAAAAAAABwg/lzPaVpz3LvY/s1600/8207OT_Cover_PreFinal.jpg);
  background-size: 632px;
  background-position-y: 2px;
}
.book-1 .bk-back p {
	color: #fff;
	font-size: 13px;
	padding: 40px;
	text-align: center;
	font-weight: 700;
}

.chapter,
.recommendations .container .flex-1,
.benefit,
.topics .flex-1,
.justify-content-center img,
.author .author-animation
{
  transform: translateY(100%);
  opacity: 0;
}
